In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [3]:
# Import data from github

url = "https://raw.githubusercontent.com/rpulipaka-22/Car-Price-Linear-Regression-ML/main/CarPrice_Assignment.csv"
data = pd.read_csv(url)

data

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [4]:
# Compute the correlations of each numeric column to the "price" column

data.corr()["price"].sort_values(ascending=False)

price               1.000000
enginesize          0.874145
curbweight          0.835305
horsepower          0.808139
carwidth            0.759325
carlength           0.682920
wheelbase           0.577816
boreratio           0.553173
carheight           0.119336
stroke              0.079443
compressionratio    0.067984
symboling          -0.079978
peakrpm            -0.085267
car_ID             -0.109093
citympg            -0.685751
highwaympg         -0.697599
Name: price, dtype: float64

In [5]:
# We will only work with columns that have moderate to high correlation with the "price" column
# (i.e. columns with a correlation coefficient of 0.6 and above)

dropped_data = data.drop(["car_ID", "peakrpm", "symboling",
                          "compressionratio", "stroke", "carheight", "boreratio",
                          "wheelbase"], axis=1)

# We will also remove all non numeric columns as those will not be used in creating the Linear Regression model

data = dropped_data._get_numeric_data()

data

,carlength,carwidth,curbweight,enginesize,horsepower,citympg,highwaympg,price
0,168.8,64.1,2548,130,111,21,27,13495.0
1,168.8,64.1,2548,130,111,21,27,16500.0
2,171.2,65.5,2823,152,154,19,26,16500.0
3,176.6,66.2,2337,109,102,24,30,13950.0
4,176.6,66.4,2824,136,115,18,22,17450.0
...,...,...,...,...,...,...,...,...
200,188.8,68.9,2952,141,114,23,28,16845.0
201,188.8,68.8,3049,141,160,19,25,19045.0
202,188.8,68.9,3012,173,134,18,23,21485.0
203,188.8,68.9,3217,145,106,26,27,22470.0
204,188.8,68.9,3062,141,114,19,25,22625.0

In [26]:
# We will now construct a Linear Regression model

data_np = data.to_numpy()

X = data_np[:, :-1]
y = data_np[:, -1]

# Let's create one model and test its accuracy using data in a train-test split of 80% and 20% respectively

fX_train, fX_test, fy_train, fy_test = train_test_split(X, y, test_size=0.2)

fModel = LinearRegression()
fModel.fit(fX_train, fy_train)
fAccuracy = fModel.score(fX_test, fy_test)
fPredictions = fModel.predict(fX_test)

In [27]:
# Let's print the details of the first model generated

print("Model Coefficients: ", fModel.coef_)
print("Model Intercept: ", fModel.intercept_)
print("Mean Absolute Error of the Model: ", mean_absolute_error(fPredictions, fy_test))
print("Mean Squared Error of the Model: ", mean_squared_error(fPredictions, fy_test))
print("Model Accuracy Score: ", fAccuracy)

Model Coefficients:  [-11.54047423 383.13871761   3.40010906  94.27007199  49.97099479
 -94.56568943 145.60388928]
Model Intercept:  -37818.618630425844
Mean Absolute Error of the Model:  2784.474856837537
Mean Squared Error of the Model:  12837681.677465335
Model Accuracy Score:  0.6283894160045677

In [50]:
# We can improve this model by repeatedly generating new models with a
# different set of training data and select the highest accuracy score

# Let's initialize the details for the best model

bestModel = fModel
bestAccuracy = fAccuracy
bX_train, bX_test, by_train, by_test = fX_train, fX_test, fy_train, fy_test

for test in range(30):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

    model = LinearRegression()
    model.fit(X_train, y_train)
    accuracy = model.score(X_test, y_test)

    if accuracy > bestAccuracy:
        bestAccuracy = accuracy
        bestModel = model
        bX_train, bX_test, by_train, by_test = X_train, X_test, y_train, y_test

bestPredictions = bestModel.predict(bX_test)

In [51]:
# Let's print the details of the best model generated

print("Best Model Coefficients: ", bestModel.coef_)
print("Best Model Intercept: ", bestModel.intercept_)
print("Mean Absolute Error of the Best Model: ", mean_absolute_error(bestPredictions, by_test))
print("Mean Squared Error of the Best Model: ", mean_squared_error(bestPredictions, by_test))
print("Best Model Accuracy Score: ", bestAccuracy)

Best Model Coefficients:  [-25.82304052 702.37763561   2.55145451  81.96385897  54.39615158
  -9.19640434  39.16558305]
Best Model Intercept:  -52010.58988873436
Mean Absolute Error of the Best Model:  1994.056261691857
Mean Squared Error of the Best Model:  7708781.506421061
Best Model Accuracy Score:  0.901953730620267

In [53]:
# We see that we now have a model and the associated training and test
# data that yields the highest accuracy

# Let's create a dataframe that displays both the actual values of the test
# data as well as the predicted values using the model

predictions_dataX = pd.DataFrame(bX_test, columns=["Car Length", "Car Width", "Curb Weight", "Engine Size", "Horsepower", "City MPG", "Highway MPG"])
predictions_dataY = pd.DataFrame(by_test, columns=["Actual Price"])
predictions_dataP = pd.DataFrame(bestPredictions, columns=["Predicted Price"])

final_data = pd.concat([predictions_dataX, predictions_dataY, predictions_dataP], axis=1)

final_data.head()

,Car Length,Car Width,Curb Weight,Engine Size,Horsepower,City MPG,Highway MPG,Actual Price,Predicted Price
0,157.3,63.8,1876.0,90.0,68.0,37.0,41.0,5572.0,5866.875204
1,173.0,65.4,2328.0,122.0,88.0,25.0,32.0,8499.0,11207.148246
2,170.2,63.8,2037.0,97.0,69.0,31.0,37.0,7999.0,6471.201416
3,199.6,69.6,4066.0,258.0,176.0,15.0,19.0,35550.0,33421.426994
4,176.2,65.6,2714.0,146.0,116.0,24.0,30.0,11549.0,15670.941581

In [54]:
# To confirm the accuracy between the "Actual Price" column and the "Predicted Price" column
# we can determine the r2 score. The closer this value is to 1 the more accurate this model is

print("R2 Score: ", r2_score(by_test, bestPredictions))

R2 Score:  0.901953730620267